{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-12">
        <h1 class="text-center mb-5">Contact Us</h1>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-4">
            <div class="card" style="border-radius: 1.3rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);">
              <div class="card-body">
                <h2 class="card-title mb-4" style="color: rgb(199, 80, 32);"><strong>The Nut Store</strong></h2>
                <p class="card-text">Our family-owned business has been providing high-quality nuts and snacks to our customers since 1970. We are committed to quality and freshness, and our customers have come to trust us as a reliable source for their favorite snacks.</p>
                <p class="card-text"><strong>Telephone:</strong> +98 - 21 8835</p>
                <p class="card-text"><strong>Email:</strong> info@nutstore.com</p>
              </div>
            </div>
          </div>
        </div>
          <div class="col--lg-12">
            <div class="card" style="border-radius: 1.3rem; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);">
              <div class="card-body">
                <h2 class="card-title mb-4" style="color: rgb(70, 121, 57);"><b>Store Locations</b></h2>
                <div class="row">
                  <div class="col-md-4">
                    <div class="card" style="border-radius: 1.3rem;">
                      <div class="card-body">
                        <h3 class="card-title"><b>Tehran</b></h3>
                        <p class="card-text">Tehran Grand Bazaar</p>
                        <p class="card-text">Grand Baazar, Hashemi Dalan</p>
                        <p class="card-text">Monday - Friday: 9am - 10pm</p>
                        <p class="card-text">Saturday: 10am - 6pm</p>
                        <p class="card-text">Sunday: Closed</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card" style="border-radius: 1.3rem;">
                      <div class="card-body">
                        <h3 class="card-title"><b>Ardabil</b></h3>
                        <p class="card-text">Ardabil Piratmali Bazaar</p>
                        <p class="card-text">Piratmali, No.56</p>
                        <p class="card-text">Monday - Friday: 10am - 7pm</p>
                        <p class="card-text">Saturday: 9am - 5pm</p>
                        <p class="card-text">Sunday: Closed</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="card" style="border-radius: 1.3rem;">
                      <div class="card-body">
                        <h3 class="card-title"><b>Isfahan</b></h3>
                        <p class="card-text">Isfahan Main Baazar</p>
                        <p class="card-text">Grand Baazar, No.456</p>
                        <p class="card-text">Monday- Friday: 10am - 8pm</p>
                        <p class="card-text">Saturday: 9am - 5pm</p>
                        <p class="card-text">Sunday: Closed</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}